{% load static %}

<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ content.head_title }} </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static '/website/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/website/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static '/website/css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static '/website/js/modernizr.js'%}"></script>
    <script src="{% static '/website/js/pace.min.js'%}"></script>



    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static '/website/images/logo.png'%}" type="image/x-icon">
    <link rel="icon" href="{% static '/website/images/logo.png'%}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="base.html">
                <img src="http://94.176.238.2/media/{{ content.head_logo }}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>{{ content.menu_bar_opened_title }}</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">{{ content.menu_bar_home }}</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">{{ content.menu_bar_about }}</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">{{ content.menu_bar_services }}</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">{{ content.menu_bar_projects }}</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">{{ content.menu_bar_partners }}</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">{{ content.menu_bar_contact }}</a></li>
                </ul>


                <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                    </li>

                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">{{ content.menu_bar_closed_title }}</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static '/website/images/hero-bg.jpg'%}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                       <h1>{{ content.intro_text }}</h1>
                       <div class="home-content__buttons" >

                            <a href="#about" class="smoothscroll btn btn--stroke">
                                {{ content.intro_button }}
                            </a>

                        </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>{{ content.scroll_down_button }}</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>

        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">{{ content.about_us_intro }}</h3>
                <h1 class="display-1 display-1--light">{{ content.about_us_title }}</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <h2>
                    <p>{{ content.about_us_description }}</P>

                </h2>



            </div> <!-- end about-desc -->
         </div>

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            {% for inc in counter %}
            <div class="col-block stats__col ">
                <div class="stats__count">{{ inc.counter_value }}</div>
                <h5>{{ inc.counter_title }}</h5>
            </div>
            {% endfor %}

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{ content.services_intro }}</h3>
                <h1 class="display-2">{{ content.services_description }}</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            {% for service in services %}

            <div class="col-block service-item" data-aos="fade-up">

                <div class="service-icon">
                    <img src="http://94.176.238.2/media/{{ service.icon }}" width="150">
                </div>

                <div class="service-text">
                    <h3 class="h2">{{ service.service_title }}</h3>
                    <p>
                        {{ service.service_description }}
                    </p>
                </div>

            </div>

            {% endfor %}
 </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">
                        {{ content.projects_intro }}
                    </h3>
                    <h1 class="display-2 display-2--light">
                        {{ content.projects_description }}
                    </h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">

                    {% for project in projects %}
                        <div class="masonry__brick" data-aos="fade-up">
                            <div class="item-folio">
                                <div class=item-folio__thumb">
                                    <a href="http://94.176.238.2/media/{{ project.image }}" class="thumb-link" data-size="1050x700">
                                        <img src="http://94.176.238.2/media/{{ project.image }}"
                                        srcset="http://94.176.238.2/media/{{ project.image }} 1x, http://94.176.238.2/media/@2x{{ project.image }} 2x" alt="">
                                    </a>
                                </div>
                                <div class="item-folio__text">
                                    <h3 class="item-folio__title">
                                        {{ project.project_name }}
                                    </h3>
                                </div>
                                <a href="{% static '/https://www.behance.net/' %}" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                                </a>
                                <div class="item-folio__caption">
                                    <p>{{ project.project_description }}</p>
                                </div>
                            </div>
                        </div> <!-- end masonry__brick -->
                    {% endfor %}

                    </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead"> {{ content.partners_intro }} </h3>
                <h1 class="display-2"> {{ content.partners_description }} </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row clients-outer" data-aos="fade-up">
            <div class="col-full">
                <div class="clients">
                    {% for partner in partners %}
                    <a href="#0" title="" class="clients__slide"><img src="http://94.176.238.2/media/{{ partner.logo }}" /></a>
                    {% endfor %}
                </div> <!-- end clients -->
            </div> <!-- end col-full -->
        </div> <!-- end clients-outer -->

        <div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                    {% for member in team %}
                    <div class="testimonials__slide">

                        <p>{{ member.function_description }}</p>

                        <img src="http://94.176.238.2/media/{{ member.photo }}" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">{{ member.member_name }}</span>
                            <span class="testimonials__pos">{{ member.member_function }}</span>
                        </div>

                    </div>
                    {% endfor %}



                </div><!-- end testimonials -->

            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{ content.contact_intro }}</h3>
                <h1 class="display-2 display-2--light">{{ content.contact_description }}</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">

            <div class="contact-primary">

                <h3 class="h6">{{ content.message_title }}</h3>

                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    {% csrf_token %}
                    <fieldset>

                    <div class="form-field">
                        <input type="text" name="name" class="full-width" id="name" placeholder="{{ content.message_name_placeholder }}" required>

                    </div>
                    <div class="form-field">
                        <input type="text" name="email" class="full-width" id="email" placeholder= "{{ content.message_email_placeholder }}" required>
                    </div>
                    <div class="form-field">
                        <input type="text" name="subject" class="full-width" id="subject" placeholder= "{{ content.message_subject_placeholder }}" required>

                    </div>
                    <div class="form-field">
                        <textarea class="full-width" name="message" rows="5" placeholder= "{{ content.message_placeholder }}" required>
                        </textarea>
                    </div>
                    <div class="form-field">

                        <button class="full-width btn--primary"> {{ content.message_button }} </button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- contact-warning -->

                    </fieldset>
                </form>

                <div class="message-warning">
                    Something went wrong. Please try again.
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">{{ content.contact_info_title }}</h3>

                    <div class="cinfo">
                        <h5>{{ content.contact_address_title }}</h5>
                        <p>
                            {{ content.contact_address }}<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>{{ content.contact_email_title }}</h5>
                        <p>
                            {{ content.contact_email }}<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>{{ content.contact_phone_title }}</h5>
                        <p>
                            {{ content.contact_phone }}<br>

                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="{{ content.contact_facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="{{ content.contact_twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="{{ content.contact_instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>

                    </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>
                <P>
                    Daedalus forward thinking is a new age hybrid company, that imagines,
                    conceptualise, and executes solutions and concepts in diverce commercial
                    ecosystems. The company focuses on creating lucrative business opportunities
                    and solutions with Artificial Intelligence and Robotics as the driving engine
                    towards the 4th industrial revolution.

                </P>

            </div>


        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright 2022</span>
                     <a href="https://www.dftss.com/">dftss.com</a>
                </div>
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static '/website/js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static '/website/js/plugins.js'%}"></script>
    <script src="{% static '/website/js/main.js'%}"></script>



</body>

</html>
