{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %} | {% block title-info %} {% endblock %} </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'dexunt/images/icons/favicon.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dexunt/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	{% block header %} {% endblock %}

	<!-- Side cart -->
	{% include "dexunt/includes/side-cart.html" %}


<!-- Home -->
	<!-- Slider -->
	{% block slider %} {% endblock %}
	<!-- Banner -->
	{% block banner %} {% endblock %}
	<!-- Sponsored Products -->
	{% block sponsored-products %} {% endblock %}
	<!-- Flash Products -->
	{% block flash-products %} {% endblock %}
	<!-- Product -->
	{% block product %} {% endblock %}
<!--  -->


<!-- Detail -->
	<!-- Breadcrumb -->
	{% block breadcrumb %} {% endblock %}
	<!-- Product Detail -->
	{% block product-detail %} {% endblock %}
	<!-- Related Products -->
	{% block related-products %} {% endblock %}
<!--  -->

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		{% include "dexunt/includes/footer.html" %}
	</footer>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		{% block quick_view %} {% endblock %}
	</div>

<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'dexunt/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'dexunt/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'dexunt/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'dexunt/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script>
	const postsBox = document.getElementById('posts-box')
	console.log(postsBox)
	const spinnerBox = document.getElementById('spinner-box')
	const loadBtn = document.getElementById('load-btn')
	const loadBox = document.getElementById('loading-box')
	let visible = 3

	const handleGetData = () => {
	    $.ajax({
	        type: 'GET',
	        url: `/posts-json/${visible}/`,
	        success: function(response){
	               maxSize = response.max
	               const data = response.data
	               spinnerBox.classList.remove('not-visible')
	               setTimeout(()=>{
	                      spinnerBox.classList.add('not-visible')
	                      data.map(post=>{
                              console.log(post.id)
                              postsBox.innerHTML += `<div class="card p-3 mt-3 mb-3">
                                                           ${post.name}
                                                           <br>
                                                           ${post.body}
                                                     </div>`
                })
                if(maxSize){
                    console.log('done')
                    loadBox.innerHTML = "<h4>No more posts to load</h4>"
                }
            }, 500)
        },
        error: function(error){
            console.log(error)
        }
    })
}

handleGetData()

loadBtn.addEventListener('click', ()=>{
    visible += 3
    handleGetData()
})
	</script>

</body>
</html>